.App {
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  text-align: center;
}

.price-prediction-form {
  margin: 20px;
}
